In [117]:
import pandas as pd

In [118]:
car=pd.read_csv('C:/Users/user/Desktop/ITD105 Files/CaseStudy1/Datasets/backup_car_price_prediction_regression.csv')

In [119]:
car.head()

,brand,model,model_year,mileage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
0,Ford,Utility Police Interceptor Base,2013,"51,000 mi.",E85 Flex Fuel,300.0HP 3.7L V6 Cylinder Engine Flex Fuel Capa...,6-Speed A/T,Black,Black,At least 1 accident or damage reported,Yes,"$10,300"
1,Hyundai,Palisade SEL,2021,"34,742 mi.",Gasoline,3.8L V6 24V GDI DOHC,8-Speed Automatic,Moonlight Cloud,Gray,At least 1 accident or damage reported,Yes,"$38,005"
2,Lexus,RX 350 RX 350,2022,"22,372 mi.",Gasoline,3.5 Liter DOHC,Automatic,Blue,Black,None reported,NaN,"$54,598"
3,INFINITI,Q50 Hybrid Sport,2015,"88,900 mi.",Hybrid,354.0HP 3.5L V6 Cylinder Engine Gas/Electric H...,7-Speed A/T,Black,Black,None reported,Yes,"$15,500"
4,Audi,Q3 45 S line Premium Plus,2021,"9,835 mi.",Gasoline,2.0L I4 16V GDI DOHC Turbo,8-Speed Automatic,Glacier White Metallic,Black,None reported,NaN,"$34,999"

In [120]:
car.shape

(4009, 12)

In [121]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4009 entries, 0 to 4008
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   brand         4009 non-null   object
 1   model         4009 non-null   object
 2   model_year    4009 non-null   int64
 3   mileage       4009 non-null   object
 4   fuel_type     3885 non-null   object
 5   engine        4009 non-null   object
 6   transmission  4009 non-null   object
 7   ext_col       4009 non-null   object
 8   int_col       4009 non-null   object
 9   accident      3896 non-null   object
 10  clean_title   3413 non-null   object
 11  price         4009 non-null   object
dtypes: int64(1), object(11)
memory usage: 376.0+ KB

In [122]:
car['model_year'].unique()

array([2013, 2021, 2022, 2015, 2016, 2017, 2001, 2020, 2019, 2003, 2018,
       2023, 2000, 2006, 2011, 2012, 2007, 2014, 2005, 2009, 2010, 2004,
       2008, 1997, 1999, 1993, 2002, 1998, 2024, 1996, 1974, 1992, 1995,
       1994], dtype=int64)

In [123]:
car['model'].unique()

array(['Utility Police Interceptor Base', 'Palisade SEL', 'RX 350 RX 350',
       ..., 'Martin DB7 Vantage Volante', 'Impala 2LZ', 'Taycan'],
      dtype=object)

In [124]:
car['brand'].unique()

array(['Ford', 'Hyundai', 'Lexus', 'INFINITI', 'Audi', 'Acura', 'BMW',
       'Tesla', 'Land', 'Aston', 'Toyota', 'Lincoln', 'Jaguar',
       'Mercedes-Benz', 'Dodge', 'Nissan', 'Genesis', 'Chevrolet', 'Kia',
       'Jeep', 'Bentley', 'Honda', 'Lucid', 'MINI', 'Porsche', 'Hummer',
       'Chrysler', 'Volvo', 'Cadillac', 'Lamborghini', 'Maserati',
       'Volkswagen', 'Subaru', 'Rivian', 'GMC', 'RAM', 'Alfa', 'Ferrari',
       'Scion', 'Mitsubishi', 'Mazda', 'Saturn', 'Bugatti', 'Polestar',
       'Rolls-Royce', 'McLaren', 'Buick', 'Lotus', 'Pontiac', 'FIAT',
       'Karma', 'Saab', 'Mercury', 'Plymouth', 'smart', 'Maybach',
       'Suzuki'], dtype=object)

In [125]:
car['milage'].unique()

KeyError: 'milage'

In [126]:
car['fuel_type'].unique()

array(['E85 Flex Fuel', 'Gasoline', 'Hybrid', 'Diesel', 'Plug-In Hybrid',
       '–', nan, 'not supported'], dtype=object)

In [127]:
car['engine'].unique()

array(['300.0HP 3.7L V6 Cylinder Engine Flex Fuel Capability',
       '3.8L V6 24V GDI DOHC', '3.5 Liter DOHC', ...,
       '136.0HP 1.8L 4 Cylinder Engine Gasoline Fuel',
       '270.0HP 2.0L 4 Cylinder Engine Gasoline Fuel',
       '420.0HP 5.9L 12 Cylinder Engine Gasoline Fuel'], dtype=object)

In [128]:
car['transmission'].unique()

array(['6-Speed A/T', '8-Speed Automatic', 'Automatic', '7-Speed A/T',
       'A/T', '8-Speed A/T', 'Transmission w/Dual Shift Mode',
       '9-Speed Automatic', '6-Speed M/T', '10-Speed A/T', '9-Speed A/T',
       '5-Speed A/T', '1-Speed A/T', 'Automatic CVT',
       '7-Speed Automatic with Auto-Shift', 'CVT-F', 'M/T',
       '6-Speed Automatic with Auto-Shift', '10-Speed Automatic',
       'CVT Transmission', '4-Speed A/T', '6-Speed Automatic',
       '4-Speed Automatic', '7-Speed M/T',
       '8-Speed Automatic with Auto-Shift', '5-Speed Automatic',
       '8-SPEED AT', '1-Speed Automatic', '5-Speed M/T', 'Manual',
       '6-Speed Manual', 'Variable', '2', '7-Speed Manual',
       'Automatic, 9-Spd 9G-Tronic', 'Automatic, 8-Spd',
       'Automatic, 8-Spd Sport w/Sport & Manual Modes', 'F', '–',
       'Auto, 6-Spd w/CmdShft', 'Transmission Overdrive Switch',
       '7-Speed Automatic', 'Automatic, 8-Spd PDK Dual-Clutch',
       'Automatic, 8-Spd M STEPTRONIC w/Drivelogic, Sport & Manual Modes',
       'Automatic, 8-Spd Dual-Clutch', '6-Speed',
       'Single-Speed Fixed Gear', 'Automatic, 10-Spd',
       '2-Speed Automatic', '7-Speed',
       'Automatic, 7-Spd S tronic Dual-Clutch', 'Manual, 6-Spd',
       '6-Speed Electronically Controlled Automatic with O',
       '6 Speed At/Mt', '8-SPEED A/T',
       '10-Speed Automatic with Overdrive', '7-Speed DCT Automatic',
       '9-Speed Automatic with Auto-Shift',
       'SCHEDULED FOR OR IN PRODUCTION', '2-Speed A/T', '6 Speed Mt',
       '8-Speed Manual'], dtype=object)

In [129]:
car['ext_col'].unique()

array(['Black', 'Moonlight Cloud', 'Blue', 'Glacier White Metallic',
       'Silver', 'Green', 'Fuji White', 'Yellow', 'White', 'Gray',
       'Purple', 'Iconic Silver Metallic', 'Mythos Black Metallic', 'Red',
       'Gold', 'Lunar Silver Metallic', 'Mountain Air Metallic',
       'Caspian Blue', 'Tango Red Metallic', '–', 'Alpine White',
       'BLU ELEOS', 'Horizon Blue', 'Granite Crystal Clearcoat Metallic',
       'Orange', 'Beige', 'Rift Metallic', 'Atomic Silver',
       'Summit White', 'Imperial Blue Metallic',
       'Magnetic Gray Clearcoat', 'Bright White Clearcoat',
       'Typhoon Gray', 'Crystal Black Silica', 'Arctic Gray Metallic',
       'Selenite Grey Metallic', 'Ultra Black', 'Lunare White Metallic',
       'Hyper Red', 'Daytona Gray Pearl Effect', 'Vik Black',
       'Pacific Blue Metallic', 'Obsidian Black Metallic',
       'Silver Ice Metallic', 'Sonic Silver Metallic', 'Nightfall Mica',
       'Apex Blue', 'Go Mango!', 'Ingot Silver Metallic',
       'Midnight Black Metallic', 'Black Clearcoat', 'Thunder Gray',
       'Bianco Monocerus', 'Verde', 'Wind Chill Pearl', 'Mythos Black',
       'Patriot Blue Pearlcoat', 'Black Cherry', 'Yulong White',
       'Donington Grey Metallic', 'Ruby Red Metallic Tinted Clearcoat',
       'Platinum Quartz Metallic', 'Matador Red Metallic', 'Blu',
       'Mosaic Black Metallic', 'Jungle Green', 'BLACK',
       'Deep Crystal Blue Mica', 'Beluga Black', 'Eiger Grey',
       'Ebony Black', 'Brown', 'Indus Silver', 'Ibis White',
       'Bianco Icarus Metallic', 'Infrared Tintcoat', 'Midnight Black',
       'Phytonic Blue Metallic', 'Quartz White',
       'Rapid Red Metallic Tinted Clearcoat', 'Cobra Beige Metallic',
       'Pure White', 'Snow White Pearl', 'DB Black Clearcoat',
       'Firenze Red Metallic', 'Anodized Blue Metallic',
       'MANUFAKTUR Diamond White Bright', 'Santorin Black', 'Glacier',
       'Delmonico Red Pearlcoat', 'Brilliant Black',
       'Magnetite Black Metallic', 'Carpathian Grey Premium Metallic',
       'Majestic Black Pearl', 'Northsky Blue Metallic', 'Baltic Gray',
       'Machine Gray Metallic', 'Twilight Black', 'Pearl White',
       'Diamond Black', 'Maroon', 'Firecracker Red Clearcoat',
       'Oxford White', 'Glacier White', 'Flame Red Clearcoat',
       'White Clearcoat', 'Ice', 'Silver Zynith', 'Silky Silver',
       'Ametrin Metallic', 'Deep Black Pearl Effect', 'Shimmering Silver',
       'Gecko Pearlcoat', 'Onyx', 'Rosso Mars Metallic',
       'Shoreline Blue Pearl', 'Santorini Black',
       'White Platinum Tri-Coat Metallic', 'Sparkling Silver', 'Chalk',
       'BLUE', 'Dazzling White', 'Santorini Black Metallic',
       'Selenite Gray Metallic', 'Metallic', 'Ebony Twilight Metallic',
       'Polymetal Gray Metallic', 'Oryx White Prl', 'Black Forest Green',
       'Gun Metallic', 'Jet Black Mica', 'Dark Gray Metallic',
       'Firenze Red', 'Glacial White Pearl',
       'designo Diamond White Metallic', 'Blue Metallic',
       'Isle of Man Green Metallic', 'Black Noir Pearl',
       'Volcano Grey Metallic', 'Soul Red Crystal Metallic', 'Dark Moss',
       'Passion Red', 'Typhoon Gray Metallic', 'Onyx Black',
       'Redline Red', 'Navarra Blue Metallic',
       'Brands Hatch Gray Metallic',
       'Daytona Gray Pearl Effect w/ Black Roof', 'Hampton Gray',
       'Ultra White', 'Hydro Blue Pearlcoat', 'Sandstone Metallic',
       'Portofino Blue Metallic', 'Sangria Red', 'Magnetic Metallic',
       'Tan', 'Platinum White Pearl', 'designo Diamond White',
       'Anthracite Blue Metallic', 'Velvet Red Pearlcoat', 'Silver Mist',
       'Antimatter Blue Metallic', 'Cirrus Silver Metallic', 'Pink',
       'Cayenne Red Tintcoat', 'Garnet Red Metallic', 'Black Obsidian',
       'Pristine White', 'Nebula Gray Pearl', 'Super White',
       'Gentian Blue Metallic', 'Midnight Blue Metallic', 'Yulong',
       'Rosso Corsa', 'Matte White', 'Navarra Blue', 'Silver Radiance',
       'Iridium Metallic', 'Magnetic Black', 'Chronos Gray Metallic',
       'Pacific Blue', 'Eiger Grey Metallic', 'White Diamond Tri-Coat',
       'Stormy Sea', 'Dark Matter Metallic', 'Billet Clearcoat Metallic',
       'Brilliant Silver Metallic', 'Liquid Platinum',
       'Vulcano Black Metallic', 'Diamond White', 'White Frost Tri-Coat',
       'Aventurine Green Metallic', 'Tempest', 'Alfa White', 'Star White',
       'Titanium Silver', 'Caviar', 'Kodiak Brown Metallic',
       'Majestic Plum Metallic', 'Navarre Blue', 'Bronze Dune Metallic',
       'Radiant Red Metallic II', 'Dark Moon Blue Metallic',
       'Manhattan Noir Metallic', 'Agate Black Metallic', 'Frozen White',
       'Bianco Isis', 'Phantom Black Pearl Effect / Black Roof',
       'Kemora Gray Metallic', 'Shadow Black', 'Graphite Grey Metallic',
       'Emerald Green Metallic', 'Orca Black Metallic', 'Chronos Gray',
       'Daytona Gray', 'Billet Silver Metallic Clearcoat',
       'Sting Gray Clearcoat', 'Maximum Steel Metallic',
       'Carbonized Gray Metallic', 'Ruby Flare Pearl',
       'Crimson Red Tintcoat', 'Blueprint', 'Balloon White',
       'Snowflake White Pearl', 'Crystal White Pearl',
       'Quicksilver Metallic', 'Dark Sapphire', 'Carbon Black Metallic',
       'Sunset Drift Chromaflair', 'Shadow Gray Metallic', 'Granite',
       'Frozen Dark Silver Metallic', 'Black Sapphire Metallic',
       'Quartz Blue Pearl', 'Iridescent Pearl Tricoat',
       'Satin Steel Metallic', 'Aurora Black', 'Black Raven',
       'Florett Silver', 'Cajun Red Tintcoat', 'Nero Daytona',
       'Red Multi', 'Dark Ash Metallic', 'Rich Garnet Metallic',
       'Nero Noctis', 'Scarlet Ember', 'Blue Reflex Mica',
       'Snowflake White Pearl Metallic', 'Grigio Nimbus',
       'Granite Crystal Metallic Clearcoat', 'Stellar Black Metallic',
       'Dark Slate Metallic', 'Vega Blue', 'Stone Gray Metallic',
       'Matador Red Mica', 'Barcelona Red', 'Bayside Blue',
       'Tungsten Metallic', 'Mineral White', 'Siren Red Tintcoat',
       'Octane Red Pearlcoat', 'Wolf Gray', 'Fountain Blue', 'Obsidian',
       'Volcanic Orange', 'Dark Graphite Metallic', 'Designo Magno Matte',
       'Phantom Black', 'Crystal Black', 'Red Quartz Tintcoat',
       'Carrara White Metallic', 'Blue Caelum',
       'designo Diamond White Bright', 'Iridium Silver Metallic',
       'Mango Tango Pearlcoat', 'GT SILVER', 'Crystal Black Pearl',
       'Eminent White Pearl', 'Lunar Blue Metallic',
       'Magnetic Gray Metallic', 'Arctic White', 'Silver Flare Metallic',
       'Emin White', 'Custom Color', 'Ember Pearlcoat',
       'Twilight Blue Metallic', 'Burnished Bronze Metallic',
       'Ice Silver Metallic', 'Magnetite Gray Metallic', 'Jupiter Red',
       'Midnight Silver Metallic', 'Hellayella Clearcoat',
       'Ironman Silver', 'Alta White', 'Python Green', 'China Blue',
       'Portofino Gray', 'White Knuckle Clearcoat', 'Nautical Blue Pearl',
       'Silician Yellow', 'Arancio Borealis', 'Rosso', 'Graphite Grey',
       'Lizard Green', 'Super Black', 'Kinetic Blue',
       'Electric Blue Metallic', 'Glacier Blue Metallic', 'Red Obsession',
       'Platinum Gray Metallic', 'Remington Red Metallic',
       'Reflex Silver', 'Deep Blue Metallic', 'Glacier Silver Metallic',
       'Carpathian Grey', 'Nightfall Gray Metallic', 'Lunar Rock',
       'Quartzite Grey Metallic', 'C / C'], dtype=object)

In [130]:
car['int_col'].unique()

array(['Black', 'Gray', 'Ebony.', 'Green', 'Pimento / Ebony', 'Brown',
       'White', '–', 'Beige', 'Jet Black', 'Light Gray', 'Anthracite',
       'Red', 'Nero Ade', 'Blue', 'Charcoal', 'Rioja Red',
       'Canberra Beige/Black', 'Roast', 'Ivory / Ebony',
       'Silk Beige/Black', 'Medium Pewter', 'Ice', 'Black / Express Red',
       'Obsidian Black', 'Ebony', 'Orange', 'Caramel', 'Orchid',
       'Graphite', 'Tan/Ebony', 'Cappuccino', 'Nero', 'Sahara Tan',
       'BLACK', 'Hotspur', 'Blk', 'Black Onyx', 'Nougat Brown',
       'Titan Black', 'Oyster W/Contrast', 'Silver',
       'Macchiato Beige/Black', 'Sand Beige', 'Navy Pier', 'WHITE',
       'Parchment.', 'Sarder Brown', 'Grace White', 'Cloud', 'Espresso',
       'Mesa', 'Whisper Beige', 'Medium Dark Slate', 'Gold',
       'Camel Leather', 'Tupelo', 'Black/Red', 'Parchment', 'Beluga Hide',
       'Charles Blue', 'Global Black', 'Titan Black / Quarzit', 'Mocha',
       'Portland', 'Medium Light Camel', 'Black / Saddle', 'Ash',
       'Ebony / Pimento', 'Tan', 'Mistral Gray / Raven', 'Graystone',
       'Satin Black', 'Sandstone', 'Medium Stone', 'ORANGE',
       'Pimento Red w/Ebony', 'Macchiato', 'Ebony Black', 'Pearl Beige',
       'Sakhir Orange', 'Kyalami Orange', 'Almond Beige',
       'Medium Earth Gray', 'Diesel Gray / Black', 'Boulder', 'Walnut',
       'Charcoal Black', 'Dark Auburn', 'Tan/Ebony/Ebony', 'Amber',
       'Silk Beige/Espresso Brown', 'Black / Brown',
       'Sakhir Orange/Black', 'Black / Stone Grey', 'AMG Black', 'Slate',
       'BEIGE', 'Canberra Beige', 'Magma Red', 'Saiga Beige',
       'Saddle Brown', 'Light Titanium', 'Dark Gray', 'Platinum',
       'Ebony/Light Oyster Stitch', 'Shale', 'Red/Black', 'Agave Green',
       'Cobalt Blue', 'Deep Cypress', 'Ceramic', 'Camel', 'Rhapsody Blue',
       'Light Platinum / Jet Black', 'Shara Beige', 'Dark Galvanized',
       'Giallo Taurus / Nero Ade', 'Yellow', 'Black w/Red Stitching',
       'Black/Saddle Brown', 'Light Slate', 'Black/Gun Metal',
       'White / Brown', 'Brandy', 'Mountain Brown', 'Linen', 'Porpoise',
       'Aragon Brown', 'Oyster/Black', 'Gideon', 'Chestnut',
       'Red / Black', 'Bianco Polar', 'Deep Garnet', 'Dark Ash',
       'Ebony / Ebony Accents', 'Rock Gray', 'Cocoa / Dune', 'Beluga',
       'Carbon Black', 'Sport', 'Medium Ash Gray', 'Black/Graphite',
       'Macchiato/Magmagrey', 'Classic Red', 'Chateau',
       'Graphite w/Gun Metal', 'Tension', 'Adrenaline Red',
       'Hotspur Hide', 'Gray w/Blue Bolsters', 'Very Light Cashmere',
       'Black / Gray', 'Deep Chestnut', 'Black / Graphite'], dtype=object)

In [131]:
car['accident'].unique()

array(['At least 1 accident or damage reported', 'None reported', nan],
      dtype=object)

In [132]:
car['clean_title'].unique()

array(['Yes', nan], dtype=object)

In [133]:
car['price'].unique()

array(['$10,300 ', '$38,005 ', '$54,598 ', ..., '$59,335 ', '$349,950 ',
       '$90,998 '], dtype=object)

In [134]:
backup=car.copy()

In [135]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4009 entries, 0 to 4008
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   brand         4009 non-null   object
 1   model         4009 non-null   object
 2   model_year    4009 non-null   int64
 3   mileage       4009 non-null   object
 4   fuel_type     3885 non-null   object
 5   engine        4009 non-null   object
 6   transmission  4009 non-null   object
 7   ext_col       4009 non-null   object
 8   int_col       4009 non-null   object
 9   accident      3896 non-null   object
 10  clean_title   3413 non-null   object
 11  price         4009 non-null   object
dtypes: int64(1), object(11)
memory usage: 376.0+ KB

In [136]:
car['price'] = car['price'].str.replace('[$,]', '', regex=True).astype(int)

In [137]:
car['mileage'] = car['mileage'].str.replace('[mi.,]', '', regex=True).astype(int)

In [138]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4009 entries, 0 to 4008
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   brand         4009 non-null   object
 1   model         4009 non-null   object
 2   model_year    4009 non-null   int64
 3   mileage       4009 non-null   int32
 4   fuel_type     3885 non-null   object
 5   engine        4009 non-null   object
 6   transmission  4009 non-null   object
 7   ext_col       4009 non-null   object
 8   int_col       4009 non-null   object
 9   accident      3896 non-null   object
 10  clean_title   3413 non-null   object
 11  price         4009 non-null   int32
dtypes: int32(2), int64(1), object(9)
memory usage: 344.6+ KB

In [139]:
car=car[~car['fuel_type'].isna()]

In [140]:
car.describe()

        model_year        mileage         price
count  3885.000000    3885.000000  3.885000e+03
mean   2015.366538   65897.340283  4.426696e+04
std       6.125995   52490.868836  7.981032e+04
min    1974.000000     100.000000  2.000000e+03
25%    2012.000000   23850.000000  1.700000e+04
50%    2017.000000   54082.000000  3.049000e+04
75%    2020.000000   95426.000000  4.900000e+04
max    2024.000000  405000.000000  2.954083e+06

In [141]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3885 entries, 0 to 4008
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   brand         3885 non-null   object
 1   model         3885 non-null   object
 2   model_year    3885 non-null   int64
 3   mileage       3885 non-null   int32
 4   fuel_type     3885 non-null   object
 5   engine        3885 non-null   object
 6   transmission  3885 non-null   object
 7   ext_col       3885 non-null   object
 8   int_col       3885 non-null   object
 9   accident      3774 non-null   object
 10  clean_title   3306 non-null   object
 11  price         3885 non-null   int32
dtypes: int32(2), int64(1), object(9)
memory usage: 364.2+ KB

In [142]:
car['accident']

0       At least 1 accident or damage reported
1       At least 1 accident or damage reported
2                                None reported
3                                None reported
4                                None reported
                         ...
4003    At least 1 accident or damage reported
4004                             None reported
4005                             None reported
4007                             None reported
4008    At least 1 accident or damage reported
Name: accident, Length: 3885, dtype: object

In [143]:
car = car.fillna(car.mean(numeric_only=True))

In [144]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3885 entries, 0 to 4008
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   brand         3885 non-null   object
 1   model         3885 non-null   object
 2   model_year    3885 non-null   int64
 3   mileage       3885 non-null   int32
 4   fuel_type     3885 non-null   object
 5   engine        3885 non-null   object
 6   transmission  3885 non-null   object
 7   ext_col       3885 non-null   object
 8   int_col       3885 non-null   object
 9   accident      3774 non-null   object
 10  clean_title   3306 non-null   object
 11  price         3885 non-null   int32
dtypes: int32(2), int64(1), object(9)
memory usage: 364.2+ KB

In [145]:
mean_accident = car['accident'].mean()
car['accident'].fillna(mean_accident, inplace=True)

TypeError: can only concatenate str (not "int") to str

In [146]:
car['accident'].fillna("No accidents reported", inplace=True)

In [147]:
car['clean_title'].fillna("Yes", inplace=True)

In [148]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3885 entries, 0 to 4008
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   brand         3885 non-null   object
 1   model         3885 non-null   object
 2   model_year    3885 non-null   int64
 3   mileage       3885 non-null   int32
 4   fuel_type     3885 non-null   object
 5   engine        3885 non-null   object
 6   transmission  3885 non-null   object
 7   ext_col       3885 non-null   object
 8   int_col       3885 non-null   object
 9   accident      3885 non-null   object
 10  clean_title   3885 non-null   object
 11  price         3885 non-null   int32
dtypes: int32(2), int64(1), object(9)
memory usage: 364.2+ KB

In [152]:
# Replace 'â€“' with NaN in the entire DataFrame
car = car.replace('â€“', pd.NA)

# Drop rows with any missing values (NaN) in any column
car.dropna(subset=car.columns, inplace=True)

In [153]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3885 entries, 0 to 4008
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   brand         3885 non-null   object
 1   model         3885 non-null   object
 2   model_year    3885 non-null   int64
 3   mileage       3885 non-null   int32
 4   fuel_type     3885 non-null   object
 5   engine        3885 non-null   object
 6   transmission  3885 non-null   object
 7   ext_col       3885 non-null   object
 8   int_col       3885 non-null   object
 9   accident      3885 non-null   object
 10  clean_title   3885 non-null   object
 11  price         3885 non-null   int32
dtypes: int32(2), int64(1), object(9)
memory usage: 364.2+ KB

In [114]:
#car.to_csv('C:/Users/user/Desktop/ITD105 Files/CaseStudy1/Cleaned_UsedCars.csv')

In [154]:
import random

# Transmission types
transmissions = ["CVT", "Automatic", "Manual"]

# Generate 200 random lists of transmissions
random_transmission_lists = [random.choices(transmissions, k=random.randint(1, 5)) for _ in range(200)]

# Print the first 10 lists as an example
for i, transmission_list in enumerate(random_transmission_lists[:10], 1):
    print(f"List {i}: {', '.join(transmission_list)}")

List 1: CVT, Manual, Manual, CVT, Manual
List 2: CVT, CVT, Automatic, CVT
List 3: Manual, Manual, CVT
List 4: Manual, Manual
List 5: CVT
List 6: CVT, Manual
List 7: CVT, Manual
List 8: CVT, Manual
List 9: Automatic, CVT, Manual, Manual
List 10: CVT, Manual, Automatic, Manual